.custom-ion-buttons {
  display: flex;
  align-items: center;
}

.placeholder-icon {
  color: #ccc; /* Define el color del icono de marcador de posición */
}

.placeholder-text {
  margin-left: 5px; /* Ajusta el espacio entre el icono y el texto de marcador de posición */
  color: #ccc; /* Define el color del texto de marcador de posición */
}

  