.centrado2{
    margin-left: 90px;
    margin-right: 40px;
    margin-block-end: 20px;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}