<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">{{"Recuperar" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{"Recuperar" | translate}}</ion-card-title>
    </ion-card-header>
    <div class="centrar">{{"Ingresa tu correo para recuperar tu contraseña" | translate}}</div>
    <ion-card-content>
      <ion-input [(ngModel)]="email" placeholder="{{ 'Correo Electrónico' | translate }}"></ion-input>
    <ion-button size="full" (click)="recuperarContrasena()">{{ "Enviar" | translate }}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
