<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "clases" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>
      <img alt="Silhouette of mountains" src="https://ci4.googleusercontent.com/proxy/WAvysQcZRiEcPgVg0RuGK5_JdVKC972piFHN6SgGC_XcGXLnNEUxMJyTi9hf2HX20xeasYGstZiulfjBrWgKW2pfskl-gY-RFpd5tdhptMmxx7yPDLo0IU6E3megc7vNcbgp9OdnYBSsPMUAltl9hClJHus_dBNZ13JjPkZhWSRrVmQ3cp6zbsp77C5Ts04VNzbbIFjVzNhQg5awtdf8zQrBMZhtSJFHUrYOCA=s0-d-e1-ft#https://assets-sam.mkt.dynamics.com/bd1f2d8e-014c-4485-b5d2-b7ab4a4ef390/digitalassets/images/89f81215-ae6e-ee11-8179-002248e0d695?ts=638333372570747656" />
      <ion-list-header color="secondary">
        <ion-label>{{ "clases" | translate }}</ion-label>
      </ion-list-header>
    
      <ion-item *ngFor="let aux of listarCLases" [routerLink]="['/home/', aux.id]">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-button fill="outline" color="secondary">
              <ion-label class="text-limit">{{ aux.nombre }}</ion-label>
            </ion-button>
          </ion-row>
          <ion-text class="text-limit">Docente: {{ aux.docente }}</ion-text>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-item>
    <ion-label>{{ "selecciona" | translate }}</ion-label>
    <ion-select [(ngModel)]="idioma" (ionChange)="changeLangs($event)">
      <ion-select-option *ngFor="let lang of langs">{{lang}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="logout()">{{ "cerrarsesion" | translate }}</ion-button>

  <!--<ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

</ion-content>
