<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{"asistencias" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngIf="clase">
      <ion-icon slot="end" fill="outline" name="trash-outline"></ion-icon> 
    <ion-card-header>
      <ion-row >  
        <h3>{{ clase.nombre }}</h3>
      </ion-row>
      <ion-text >{{"docentes" | translate}}: {{ clase.docente }} </ion-text>
      
    </ion-card-header>
    <ion-card-subtitle class="centrar">clases 8 de 9 (89%) </ion-card-subtitle>
  
    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>{{"Fechas" | translate }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-list>
              <ion-item *ngFor="let asistencia of asistencias">
                <ion-label color="success">{{ formatDate(asistencia.fecha) }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>


  </ion-card>
  

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon (click)="ubicacion()" name="hand-right-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
