
<ion-card>
  <ion-card-header>
    <ion-card-title class="centrado">{{"terms" | translate}}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="scroll-vertical">
    <h5 >{{"porfa" | translate}}
    </h5>
    <br>
    <h5>
      1. {{"1" | translate}}</h5>
    <br>
    <h5 >
      2. {{"2" | translate}}</h5>
    <br>
    <h5 >
      3. {{"3" | translate}}</h5>
    <br>

    <h5>
      4. {{"4" | translate}}</h5>
    <br>
  
    <h5 >
      5. {{"5" | translate}}</h5>
    <br>
  
    <h5 class="texto-largo">
  
      6. {{"6" | translate}}</h5>
  
      
  <p>{{"7" | translate}}</p>
  
  
  </ion-card-content>
</ion-card>

<div>
  <ion-label class="centrado2" >{{"selecciona" | translate}}</ion-label>
  <ion-item>
      <ion-select [(ngModel)]="idioma" (ionChange)="changeLangs($event)">
        <ion-select-option *ngFor="let lang of langs" >{{lang}}</ion-select-option>
      </ion-select>
  </ion-item>
</div>

<ion-footer>
  <ion-item>
    <ion-checkbox (ionChange)="onCheckboxChange()" justify="end">{{"acepto" | translate }}</ion-checkbox>
  </ion-item>
  
  <ion-button (click)="aceptarTerminos()" class="centrado2" color="warning" [disabled]="!terminosAceptados">{{"Ingresar" | translate }}</ion-button>
</ion-footer>