<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>ubicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-button expand="block" (click)="getLocation()">Obtener localización</ion-button>
    <p style="margin-left: 5%;"><strong>Latitud: </strong>{{latitud}}</p>
    <p style="margin-left: 5%;"><strong>Longitud: </strong>{{longitud}}</p>
    <p style="margin-top: 50%; margin-left: 5%;"><strong>Ubicación Duoc: </strong></p>
    <p style="margin-left: 5%;"><strong>Latitud: </strong>{{duocLatitud}}</p>
    <p style="margin-left: 5%;"><strong>Longitud: </strong>{{duocLongitud}}</p>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon (click)="scanQR()" name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
